@import '../../../sass-variables.scss';

.containr {
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    // background-color: #fff;
    padding: 3rem 2em;
    border-radius: .3em;
}

.title {
    font-size: 1.3em;
    font-weight: 500;
    margin-bottom: 1em;
}

.text {
    
    font-weight: 300;
    font-size: 1em;
    line-height: 1.7;
}